button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 8px 12px;
}

.react-ui-button {
  position: relative;

  &:default {
    border: solid 3px #eee;
    border-radius: 5px;
    padding: 8px 12px;
  }

  &:disabled {
    background-color: #5a6268;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.7;
  }
}

.danger {
  background-color: #c82333;
  color: #fff;
}

.warning {
  background-color: #e0a800;
  color: #fff;
}

.success {
  background-color: #218838;
  color: #fff;
}

.tooltip {
  background-color: #000;
  border: solid 1px #eee;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  position: absolute;
  top: -40px;
  z-index: 20000;
  width: 100%;
}

[data-structure='border'] {
  border: solid 3px #eee;
}

[data-structure='curved'] {
  border-radius: 5px;
}

[data-structure='curved-border'] {
  border: solid 3px #eee;
  border-radius: 5px;
}
